<form {{action 'update' this on="submit"}}>

	

	<p>
		Metal Name: {{input type='text' value=metalName}}
		{{#each error in errors.metalName}}
			{{error.message}}
		{{/each}}
	</p>

	<p>
		Metal Type: {{input type='text' value=typeName}}
		{{#each error in errors.typeName}}
			{{error.message}}
		{{/each}}
	</p>

	<p>
		Quantity: {{input type='number' min='0' step='1' value=quantity}}
		{{#each error in errors.quantity}}
			{{error.message}}
		{{/each}}
	</p>

	<button>Update</button>
</form>