<form {{action 'update' this on="submit"}}>

	{{input type="hidden" value=typeId}}

	<p>
		Attribute Name: {{input type='text' value=attrName}}
		{{#each error in errors.attrName}}
			{{error.message}}
		{{/each}}
	</p>

	<p>
		Attribute Value: {{input type='text' value=attrValue}}
		{{#each error in errors.attrValue}}
			{{error.message}}
		{{/each}}
	</p>

	<p>
		Required: {{input type='checkbox' checked=attrReq}}
		{{#each error in errors.attrReq}}
			{{error.message}}
		{{/each}}
	</p>




	<button>Update</button>
</form>