<h2>{{metalName}}</h2>

<div>
	{{typeName}}
</div>

<div>
	<h5>Attributes</h5>
		<ul>
			{{#each attribs}}
				<li>
					{{#link-to 'attrib.edit' this}}
						{{attrName}}: {{attrValue}} 
							{{#if attrReq}}
								(Required)
							{{else}}
								(Optional)
							{{/if}}
					{{/link-to}}
				</li>
			{{/each}}
</div>

<p>{{#link-to 'type.edit'}}Edit names{{/link-to}}</p>

<p>{{#link-to 'attribs.new' this}}Create a new attribute{{/link-to}}</p>

{{outlet}}